.modal {
	&__title {
		font-size: 14px;
		font-weight: 400;
	}
}

:deep(.v-overlay__content) {
	max-width: 475px !important;
}

:deep(.v-card) {
	max-width: 475px !important;
	border: 5px solid #486e9f;
}

:deep(.v-card-title) {
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400;
	background-color: #5079b0;
	color: #fff;
}

:deep(.v-card-text) {
	padding: 10px !important;
}

.coords {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__lat,
	&__lng {
		display: flex;
		flex-direction: column;
		width: 40%;
		&-label {
			font-size: 14px;
			font-weight: 700;
			color: #444;
		}
		&-input {
			width: 100%;
			height: 30px;
			padding: 5px 10px;
			font-size: 16px;
			line-height: 30px;
			border-radius: 4px;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
			&:focus,
			&:active {
				outline: none;
			}
		}
	}
}

.map {
	width: 100%;
	height: 260px;
	margin-bottom: 15px;
	background-color: #8b9eb8;
	border: 4px solid #788daa;
	border-radius: 4px;
}

.msg {
	width: 100%;
	padding: 10px;
	&__value {
		font-size: 14px;
		color: #2520c6;
	}
}

.btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__button {
		width: 100px !important;
		height: 26px !important;
		font-size: 12px !important;
		text-transform: none !important;
		&_go {
			font-size: 20px !important;
			text-transform: none !important;
		}
	}
}
