:deep(.v-overlay__content) {
	max-width: 475px !important;
}

:deep(.v-card) {
	max-width: 475px !important;
	border: 5px solid teal;
}

:deep(.v-card-title) {
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400;
	background-color: teal;
	color: #fff;
}

:deep(.v-card-text) {
	padding: 10px !important;
}

:deep(.v-btn.v-btn--density-default) {
	text-transform: none;
}

:deep(
		.v-btn.v-btn--elevated.v-btn--icon.v-theme--light.v-btn--density-default.v-btn--size-default.v-btn--variant-elevated.modal__form-keyboard-show
	) {
	width: 30px;
	height: 30px;
}

:deep(
		.v-btn.v-btn--elevated.v-btn--icon.v-theme--light.v-btn--density-default.v-btn--size-default.v-btn--variant-elevated.modal__form-tags-show
	) {
	width: 30px;
	height: 30px;
}

:deep(
		.v-btn.v-btn--elevated.v-btn--icon.v-theme--light.v-btn--density-default.v-btn--size-default.v-btn--variant-elevated.modal__form-tags-show_open
	) {
	width: 30px;
	height: 30px;
}

:deep(
		.v-btn.v-btn--icon.v-theme--light.v-btn--density-default.v-btn--size-default.v-btn--variant-text.modal__form-tags_edit
	) {
	width: 30px;
	height: 30px;
}

.modal {
	&__title {
		font-size: 20px;
		font-weight: 400;
	}
	&__form {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-balance-info {
			margin-bottom: 10px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: linear-gradient(
				to right,
				#d5f3ff 0%,
				#b2e9ff 25%,
				#42c9ff 50%,
				#b2e9ff 75%,
				#d5f3ff 100%
			);
			border-radius: 5px;
			span {
				font-size: 18px;
				font-weight: 700;
			}
		}
		&-input {
			width: 95%;
			height: 35px;
			padding: 4px 10px;
			margin: 10px auto 10px auto;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
			border-radius: 5px;
			span {
				font-size: 20px;
				font-weight: 700;
				line-height: 35px;
				color: #a3a3a3;
			}
			&_focus {
				width: 95%;
				height: 35px;
				padding: 4px 10px;
				margin: 10px auto 10px auto;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px inset,
					rgba(0, 0, 0, 0.3) 0px 1px 3px -1px inset;
				border-radius: 5px;
				span {
					font-size: 20px;
					font-weight: 700;
					line-height: 35px;
					color: #000;
				}
			}
		}
		&-actions {
			width: 100%;
			padding: 10px 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-btn {
				min-width: unset;
				width: 40%;
				&_balance {
					width: 15%;
				}
			}
		}
		&-keyboard {
			&-wrapper {
				position: relative;
				width: 100%;
				min-height: 30px;
				margin-bottom: 15px;
			}
			&-show {
				position: absolute;
				right: -5px;
				bottom: 15px;
			}
			width: 100%;
			display: none;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			&_active {
				display: flex;
			}
			&-line {
				width: 70%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&_last {
					&-btn {
						width: 48%;
					}
				}
			}
			&-btn {
				font-size: 16px;
				font-weight: 700;
			}
		}
		&-tags {
			width: 100%;
			padding: 10px 0;
			max-height: 240px;
			overflow-y: auto;
			display: none;
			flex-wrap: wrap;
			align-items: center;
			&-wrapper {
				position: relative;
				padding-bottom: 15px;
				width: 100%;
				min-height: 30px;
			}
			&-show {
				position: absolute;
				right: -5px;
				bottom: 15px;
				&_open {
					position: absolute;
					right: -5px;
					bottom: 0px;
				}
			}
			&_edit {
				margin-right: 15px;
				margin-bottom: 10px;
			}
			&_active {
				display: flex;
			}
		}
	}
	&__footer {
		width: 100%;
		&-btns {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&-btn {
			margin: 10px 0;
			width: 90%;
		}
	}
}
