@import './fonts.scss';

html {
	height: 100vh;
	min-height: -webkit-fill-available;
}

body {
	height: 100vh;
	min-height: -webkit-fill-available;
	margin: 0;
	font-family: 'San-Francisco', sans-serif;
	color: #333;
	background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a,
a:active,
a:focus {
	color: #333;
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

@media (min-width: 576px) {
	.container {
		width: 475px;
		margin: 0 auto;
	}
}
