@import '@/style/mixins.scss';

.stat-all {
	@include basePageWithBorder;
	display: flex;
	flex-direction: column;
	&::after {
		background: url('@/assets/images/bg/bg_stat_all.jpg') center / cover no-repeat;
		filter: blur(3px);
	}
	&__title-block {
		padding: 20px 0 0 30px;
		height: 20vh;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		color: #fff;
	}
}

.breadcrumbs {
	position: relative;
	z-index: 2;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	&__link {
		font-size: 14px;
		color: #fff;
		cursor: pointer;
	}
	&__divider {
		color: #c6c6c6;
	}
	&__end {
		color: #ffb74d;
	}
}
