@import '@/style/mixins.scss';

.ol {
	@include basePageWithBorder;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&::after {
		background: url('@/assets/images/bg/bg_operations_log.jpg') center / cover no-repeat;
		filter: blur(3px);
	}
	&__title-block {
		padding: 20px 0 0 30px;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		color: #fff;
	}
}

.main {
	position: relative;
	z-index: 2;
	align-self: center;
	width: 90%;
	height: calc(100% - 80px);
	&__log {
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		padding: 5px 10px;
	}
	&__controls {
		width: 100%;
		height: 30%;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
}

.footer {
	width: 90%;
	height: 40px;
	align-self: center;
}

.button {
	text-transform: none !important;
	width: 200px !important;
	height: 40px !important;
}
